@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light theme (default) */
  :root {
    --color-primary: 220 14% 11%;
    --color-background: 216, 17%, 94%;
    --color-card: 0 0% 100%;
    --color-foreground: 221, 39%, 11%;
    --color-foreground-muted: 215, 14%, 34%;
    --color-accent: 208, 88%, 61%;
    --color-accent-muted: 214 71% 74%;
    --color-card: 0 0% 100%;
    --color-border: 214 32% 91%;
    --color-input: 214 32% 91%;
    --color-ring: 214 71% 74%;
    --color-muted: 210 40% 96%;
    --color-muted-foreground: 215 20% 35%;
    --color-destructive: 0 84% 60%;
    --color-destructive-foreground: 210 40% 98%;
  }

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 210 40% 98%;
      --color-background: 222 84% 5%;
      --color-card: 220 14% 11%;
      --color-foreground: 210 40% 98%;
      --color-foreground-muted: 215 20% 65%;
      --color-accent: 210 83% 59%;
      --color-accent-muted: 214 71% 74%;
      --color-card: 220 14% 11%;
      --color-border: 215 27% 17%;
      --color-input: 215 27% 17%;
      --color-ring: 214 71% 74%;
      --color-muted: 220 14% 11%;
      --color-muted-foreground: 215 20% 65%;
      --color-destructive: 0 84% 60%;
      --color-destructive-foreground: 210 40% 98%;
    }
  }
}

/* Override styles for manual dark mode when using class strategy */
.dark {
  --color-primary: 210 40% 98%;
  --color-background: 222 84% 5%;
  --color-card: 220 14% 11%;
  --color-foreground: 210 40% 98%;
  --color-foreground-muted: 215 20% 65%;
  --color-accent: 210 83% 59%;
  --color-accent-muted: 214 71% 74%;
  --color-card: 220 14% 11%;
  --color-border: 215 27% 17%;
  --color-input: 215 27% 17%;
  --color-ring: 214 71% 74%;
  --color-muted: 220 14% 11%;
  --color-muted-foreground: 215 20% 65%;
  --color-destructive: 0 84% 60%;
  --color-destructive-foreground: 210 40% 98%;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@media (min-aspect-ratio: 3/4) {
  #root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--color-foreground));
  }

  #root > div:first-child {
    max-width: clamp(350px, 43vh, 430px);
    max-height: 93vh;
    aspect-ratio: 9 / 19.5;
    width: auto;
    height: auto;
    border-radius: 24px;
    overflow: hidden;
  }
}
